
caption{
	color: white;
}

table{
	margin: auto;
	table-layout: fixed;
	border-collapse:collapse;
	background:white;
	color:black	
}

table td{
	width:100px;
	border:1px solid black;
	padding:8px;
}

table .center{
	text-align:center;
	font-weight: bold;
	color:black;
}

thead td{
	text-align:center;
	font-weight: bold;
	color: black;
}

footer{
	text-align:center;
}